* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: wheat;
}

.container {
    width: 900px;
    max-width: 100%;
    background-color: beige;
    border-radius: 10px;
    display: block;

}

.card {
    display:block;
    background-color: #7f8274 ;
    border: solid black;
    border-width: 5px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 20px;
    text-align: center;
}


.start-button, .next-button {
    font-size: 5rem;
    padding: 20px 10px;
    font-weight: bold;
    border-radius: 10px; 
    margin: 20px 0; 
}

.begin-next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: whitesmoke ;
    border: solid black;
    border-radius: 20px;
    padding: 15px 30px;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    border-color: rgb(201, 152, 79);
}

#question-container {
    display: none;
}
#scoreName { 
    display: none;
}
#last {
    display: none;
}